* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f7f6;
  font-size: 16px;
  color: #333;
}

h1 {
  color: #4caf50;
  text-align: center;
  margin: 20px 0;
}

h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

input[type="text"] {
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  width: 250px;
  padding: 10px;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #4caf50;
}

a:hover {
  color: #45a049;
}

.delete-btn {
  color: red;
}
.delete-btn:hover{
    color: rgb(255, 89, 89)
}
.update-btn {
  color: blue;
}
.update-btn:hover {
  color: rgb(46, 46, 255);
}
