* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222831;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 28px;
  color: #ffd369;
  margin-bottom: 20px;
}

.content {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  color: #ffd369;
  margin: 10px 0;
}
a:hover {
  color: #fff;
}

.secret_text {
  color: #fff;
}

.btn {
  width: 100%;
  font-size: 1.1rem;
  background-color: #ffd369;
  color: #222831;
  border: none;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 4px;
}
input:focus{
    outline: none;
}
